财务助手-个人记账bank_statement.json
{
  "name": "财务助手-银行对账单自动记录",
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "2647d937-2e1a-4513-b1e0-05858488cb94",
      "name": "Download Bank Statements",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -280,
        -80
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0dh8Qz5eFyzJF2NY",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "77daf99d-3f80-408c-b058-cb36deb100d7",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -100,
        -80
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6fc467f7-07ac-455a-82ff-b125091f544e",
              "name": "output",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2d7df8ca-3d7d-4a16-860d-d9bc424e4e2b",
      "name": "get data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        120,
        -80
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "=mistralai/ministral-3b",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.output }}"
            },
            {
              "content": "=你是银行对账单文档的文本解析助手。\n任务是从包含银行对账单数据的给定“输出”中解析文本，以分离每笔银行交易及其对应的金额。\n请输出您的响应，以便之后节点可以分别记录每笔交易。\n每一笔交易需要包括以下信息：\n交易时间\n交易金额\n账户余额\n交易摘要\n对手信息",
              "role": "system"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "f553117c-3929-4196-9160-6af21a1daac4",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        340,
        -80
      ],
      "credentials": {
        "openAiApi": {
          "id": "IoRQxghif1RKjaKn",
          "name": "openrounter"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1dw4Ti1CUqaklLTmCRJE3wuXj9W-RiUp2",
          "mode": "list",
          "cachedResultName": "transaction statement",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1dw4Ti1CUqaklLTmCRJE3wuXj9W-RiUp2"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "e4da49ca-453c-4e67-8f10-83b3ffcfe42e",
      "name": "Google Drive(检测新文件)",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -460,
        -80
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0dh8Qz5eFyzJF2NY",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "message.content.transactions",
        "options": {}
      },
      "id": "39d524f2-adbd-4623-b585-a66e6d3c0f41",
      "name": "拆分",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        620,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "158YbgwK_9AuCANuu9fDTJ038pkKYJL3Y73EFHg2sdE8",
          "mode": "list",
          "cachedResultName": "费用清单",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/158YbgwK_9AuCANuu9fDTJ038pkKYJL3Y73EFHg2sdE8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1366902416,
          "mode": "list",
          "cachedResultName": "银行对账单",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/158YbgwK_9AuCANuu9fDTJ038pkKYJL3Y73EFHg2sdE8/edit#gid=1366902416"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "交易时间": "={{ $json.transaction_time }}",
            "交易金额": "={{ $json.transaction_amount }}",
            "账户余额": "={{ $json.account_balance }}",
            "交易摘要": "={{ $json.transaction_summary }}",
            "对手信息": "={{ $json.counterparty }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "交易时间",
              "displayName": "交易时间",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "交易金额",
              "displayName": "交易金额",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "账户余额",
              "displayName": "账户余额",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "交易摘要",
              "displayName": "交易摘要",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "对手信息",
              "displayName": "对手信息",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "7106d1b7-4e2a-422e-9e00-be071746301a",
      "name": "写入”费用清单-银行对账单页签“",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        860,
        -80
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pknL1Z7M99uPUXue",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "银行对账单文档的文本解析",
        "height": 240,
        "width": 220
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        280,
        -160
      ],
      "id": "2a672567-d095-4815-9c38-59b97d3f6b4f",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "拆分": [
      {
        "json": {
          "transaction_time": "2025-01-07",
          "transaction_amount": -130.9,
          "account_balance": 2549.42,
          "transaction_summary": "快捷支付",
          "counterparty": "中国电信"
        }
      },
      {
        "json": {
          "transaction_time": "2025-01-07",
          "transaction_amount": -10,
          "account_balance": 2539.42,
          "transaction_summary": "银联快捷支付",
          "counterparty": "中国电信"
        }
      },
      {
        "json": {
          "transaction_time": "2025-01-11",
          "transaction_amount": -124,
          "account_balance": 2415.42,
          "transaction_summary": "银联快捷支付",
          "counterparty": "微信红包"
        }
      },
      {
        "json": {
          "transaction_time": "2025-01-11",
          "transaction_amount": -40,
          "account_balance": 2375.42,
          "transaction_summary": "银联快捷支付",
          "counterparty": "微信转账"
        }
      },
      {
        "json": {
          "transaction_time": "2025-01-16",
          "transaction_amount": -419,
          "account_balance": 1956.42,
          "transaction_summary": "银联快捷支付",
          "counterparty": "月圆火锅"
        }
      },
      {
        "json": {
          "transaction_time": "2025-01-20",
          "transaction_amount": -88,
          "account_balance": 1868.42,
          "transaction_summary": "快捷支付",
          "counterparty": "Walk the Talk"
        }
      }
    ]
  },
  "connections": {
    "Download Bank Statements": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "get data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get data": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "拆分",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive(检测新文件)": {
      "main": [
        [
          {
            "node": "Download Bank Statements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "拆分": {
      "main": [
        [
          {
            "node": "写入”费用清单-银行对账单页签“",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "55a3b32d-8e74-421e-adec-a7c1ab2d4d60",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fca93d17c464f14ee379b1bb0062a82ae940768a367569de55700c19e1add117"
  },
  "id": "KmoGUGms5dLkZWrC",
  "tags": []
}